* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}
input,button,label,textarea {
    font-family: inherit;
    font-size: inherit;
}
:root {
    --primary-color:#7264D6;
}
/* COMMON */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    --height-:52px;
    width: 113px;
    height: var(--height-);
    border-radius: 6px;
    background: #212832;
    color: #fff;
}
a {
    text-decoration: none;
}
.heading.special {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
    color: #212832;
}
.heading.lv1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}
.heading.lv2 {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #070052;
}
.heading.lv3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: #0A142F;
}
.desc {
    font-weight: 400;
    color: #696D76;
}
.desc.lv1 {
    font-size: 1.8rem;
    line-height: 1.66;   
}
.desc.lv2 {
    color: #696D76;
    font-size: 1.6rem;
    line-height: 1.75;
}
.caption {
    display:inline-flex;
    align-items: center;
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696D77;
    padding-left: 24px;
}
.caption::before ,
.app__caption::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    left: 0;
    bottom: 12px;
    background: #696D77;
}
.container {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin: 0 auto;
}
/*  HEADER  */
.header {
    margin-top: 42px;
    background-color: #fff;
}
.header__inner {
    display: flex;
    align-items: center;
}
.navbar__list {
    display: flex;
    margin-left: 70px;
}
.navbar__link, 
.header__cta-login {
    position: relative;
    padding: 10px 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    color: #696D76;
}
.navbar__link-active {
    text-shadow: 1px 0 0 #212832;
}
.navbar__link-active::after {
    position: absolute;
    content: "";
    display: inline-block;
    left: 23px;
    bottom: 5px;
    width: 50px;
    height: 1px;
    border-radius: 1px;
    background-color:#7264D6;
}
.header__cta-group {
    margin-left: auto;
}
.header__cta-login {
    color: #212832;;
}
/*  HERO  */
.hero {
    padding: 76px 0;
}
.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 60px;
}
.hero__content {
    width: 46%;
}

.hero__heading {
    margin: 12px 0 20px;
}
.hero__heading-strong {
    color: var(--primary-color);
}
.hero__form-subscribe {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 20px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero__input {
    width: 100%;
    height: inherit;
    border-radius: inherit;
    padding: 0 22px;
    outline: none;
    border: none;
    color: #212832;
}
.hero__input:focus {
    border: 1px solid var(--primary-color) ;
    outline: var(--primary-color);
}
.hero__input:focus + .hero__label,
.hero__input:not(:placeholder-shown) + .hero__label{
    transform: translateY(-38px);
    color: var(--primary-color);
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
    opacity: 1;
}
.hero__input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; 
    color: #696D76;
}
.hero__label {
    position: absolute;
    flex-shrink: 0;
    padding: 0 5px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; 
    opacity: 0.5;
    left: 23px;
    pointer-events: none;
    background-color: #FFF;
    transition: transform , color , opacity , text-shadow;
    transition-duration: .5s;
}
.hero__btn {
    position: relative;
    --height-:58px;
    margin-right: 8px;
    min-width: 149px;
    border: none;
    cursor: pointer;
}
.hero__btn::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: var(--primary-color);
    border-radius: 6px;
    transition: width .5s ease;
}
.hero__btn:hover::before {
    width: 100%;
    left: 0;
}
.hero__btn-text {
    position: relative;
    z-index: 1;
}
.hero__massage {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: #696D76;
}
.hero__media {
    position: relative;
}
.hero__mobile-wrapper {
    margin-left: 100px;
    width: 296px;
    height: 562px;
}
.hero__mobile {
    display: block;
    width: 100%;
    object-fit: cover ;
}
.hero__deposite {
    position: absolute;
    left: 0;
    top: 113px;
    display: flex;
    align-items: center;
    max-width: 174px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.hero__title-deposite {
    margin: 0 19px 0 8px;
    color: #31456A;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero__money-deposite {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: #4AB5E3;
}
.hero__secured {
    position: absolute;
    right: -75px;
    bottom: 61px;
    display: flex;
    align-items: center;
    padding: 20px 14px;
    max-width: 124px;
    border-radius: 10px;
    background: #439F90;
}
.hero__secured-info {
    margin-left: 11px;
}
.hero__secured-money {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #FFF;
}
.hero__secured-title {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
}
.hero__interest {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: -190px;
    top: 140px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #DA6464;
}
.hero__interest-data {
    font-size: 4.4rem;
    font-weight: 600;
    color: #FFF;
}
.hero__interest-title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
}

/*  WORKS  */
.works {
    padding: 84px 0;
}
.works__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.works__media {
    position: relative;
    width: 42%;
}
.works__image-wrapper {
    width: 470px;
    height: 619px;
}
.works__img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.works__icon-banking {
    position: absolute;
    top: 76px;
    right: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264D6;
    animation-name: runLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.works__banking {
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 4px;
    background-color: #F8FBFE;
}
.works__active {
    position: absolute;
    right: -90px;
    bottom: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 226px;
    border-radius: 8px;
    padding: 15px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    animation-name: runTop;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.works__icon-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #4AB5E3;
    
}
.work__check {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.works__info {
    margin-left: 10px;
}
.work__title {
    font-family: Inter , sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    color: #212832;
}
.work__desc {
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 1.2rem;
    font-weight: 400;
    color: #696D76;
}
.works__content {
    width: 48%;
    margin-left: 100px;
}
.works__content-heading {
    margin-top: 12px;
}
.works__list {
    margin-top: 70px;
}
.works-item {
    margin-top: 30px;
}
.work-item__title {
    width: 470px;
    font-family: Open Sans , sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.45;
    color: #212832;
}
.works-item__desc {
    margin-top: 16px;
    width: 470px;
}
/*  CARD  */
.card {
    padding: 76px 0;
}
.card__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.card__content {
    width: 40%;
}
.card__heading ,
.service__heading {
    margin: 12px 0 20px;
    width: 470px;
}
.card__list,
.service__list {
    margin: 28px 0 38px;
    list-style: none;
}
.card__link ,
.service__link {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
    margin-top: 18px;
    font-family: Open Sans;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.66;
    font-weight: 600;
    color: #212832;
}
.card__link::before ,
.service__link::before {
    position: absolute;
    content: "";
    left: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.card__btn ,
.service__btn {
    position: relative;
    --height-:58px;
    min-width: 149px;
}
.card__btn::before , 
.service__btn::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--primary-color);
    border-radius: 6px;
    transition: width .5s ease;
}
.card__btn:hover::before ,
.service__btn:hover::before {
    width: 100%;
}
.card__btn-text ,
.service__btn-text {
    position: relative;
    z-index: 1;
}
.card__media {
    position: relative;
    width: 1fr;

}
.card__image-wrapper {
    width: 482px;
    height: 322px;
}
.card__img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.card__send-money {
    display: flex;
    align-items: center;
    top: -50px;
    right: -70px;
    padding: 23px 13px;
    position: absolute;
    min-width: 276px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    animation-name: runLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.card__send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(218 100 100 / 10%);
    box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48), -4px -2px 16px 0px #FFF;
}
.card__send-info {
    margin-left: 14px;
}
.card__send-title {
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 1.2rem;
    font-weight: 500;
    color: #212832;
}
.card__income-money {
    position: absolute;
    right: -80px;
    bottom:-55px;
    width: 120px;
    padding: 15px;
    border-radius: 16px;
    background: #439F90;
    animation-name: runTop;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.card__income {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 8px;
}
.card__income-title {
    margin-top: 14px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFF;
}
.card__income-money-dolla {
    display: block;
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #FFF;
}
/*  SERVICE  */
.service {
    padding: 84px 0;
}
.service__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.service__media {
    position: relative;
    width: 48%;
}
.service__image-wrapper {
    position: relative;
    width: 470px;
    height: 600px;
}
.service__img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.service__payment {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 281px;
    padding: 28px;
    border-radius: 4px;
    background-color: #FFF;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.10));
}
.service__payment-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: #212832;
}
.service-brand {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3 , auto);
    gap: 18px;
}
.service-brand__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 63px;
    height: 68px;
    background-color: #f2f2fa;
}
.service-brand__item:last-child {
    background-color: #F9EA63;
}
.service__money {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    top: 280px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #7264D6;
}
.service__content {
    width: 40%;
}
.feedback {
    padding: 76px 0;
}
.feedback__top {
    text-align: center;
}
.feedback__heading {
    margin: 12px 0 18px;
}
.feedback__desc {
    width: 435px;
    margin: 0 auto;
    color: #696D76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.feedback__inner {
    display: flex;
    overflow: hidden;
}
.feedback__list {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.feedback-item {
    flex-grow: 1fr;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.feedback-item:nth-child(even) .feedback-item__avatar-wrapper::after {
    background: #439F90;
}
.feedback-item__info {
    position: relative;
    padding: 42px 28px;
    width: 570px;
    background-color: #FFF;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    scale: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease , visibility .5s ease , scale .5s ease;
}
.feedback-item__info::after {
    content: "";
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: 40px solid;
    border-color:#FFF transparent transparent transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}
.feedback-item__massage {
    font-size: 2.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    line-height: 1.54;
    width: 514px;
    color: #696D76;
}
.feedback-item__customer {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.feedback-item__customer:hover + .feedback-item__info {
    opacity: 1;
    visibility: visible;
    scale: 1;
}
.feedback-item__avatar-wrapper {
    position: relative;
    width: 104px;
    height: 104px;
    border-radius: 50%;
}
.feedback-item__avatar-wrapper::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: -10px;
    left: -2px;
    width: 105%;
    height: 108%;
    background: #4AB5E3;
    border-radius: inherit;
}
.feedback-item__avatar {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.feedback-item__name {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #070052;
}
.feedback-item__office {
    font-size: 1.8rem;
    line-height: 1.66;
    font-weight: 400;
    color: #696D76;
}
.feedback__dots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}
.feedback__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9B9FAB;
    cursor: pointer;
}
.feedback__dot:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}
.feedback__dot.feedback__dot-active {
    background: var(--primary-color);
    border-color: var(--primary-color);
}
/*  BLOG  */
.blog {
    padding: 84px 0;
}
.blog__top {
    display: flex;
    justify-content: space-between;
}
.blog__top-inner {
    width: 435px;
}
.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
}
.blog-item {
    padding: 28px;
    display: flex;
    border-radius: 12px;
    border: 1px solid #DFE2E8;
    background: #FFF;
    cursor: pointer;
    transition: transform .5s ease;
}
.blog-item:hover {
    transform: translateY(-20px);
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}
.blog-item:hover .blog-item__link {
    color: #7264D6;
}
.blog-item__image-wrapper {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    
}
.blog-item__img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
}
.blog-item__info {
    margin-left: 22px;
}
.blog-item__time {
    font-family: Open Sans;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #696D76;
}
.blog-item__title {
    margin: 10px 0 20px;
    font-family: Open Sans, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: #212832;
}
.blog-item__link {
    font-family: Open Sans , sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
    color: #696D76;
    transition: color .5s ease;
}

/* APP */
.app {
    padding: 76px 0;
}
.app__inner {
    position: relative;
    padding: 100px 112px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 24px;
}
.app__caption {
    color: #ffffffcc;
}
.app__caption::before {
    background-color: #fff;
}
.app__heading {
    margin: 20px 0 12px;
}
.desc__app {
    width: 435px;
    margin: 0 auto;
}
.app__bottom {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.app__image-wrapper {
    background-color: #fff;
    padding: 18px 35px;
    border-radius: 6px;
    cursor: pointer;
}
.app__img-decor {
    position: absolute;
    animation: spinner 5s infinite linear ;
}
.app__img-decor:first-child {
    top: 49px;
    left: 119px;
}
.app__img-decor:nth-child(2) {
    top: 49px;
    right: 119px;
}
.app__img-decor:nth-child(3) {
    bottom:49px;
    right: 166px;
}
.app__img-decor:last-child {
    bottom: 49px;
    left: 166px;
}
/* FOOTER */
.footer {
    padding: 100px 0;
    margin-top: 300px;  
}
.footer__row {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.footer__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #212832;
}
.footer__list {
    margin-top: 24px;
}
.footer__link ,
.footer__desc {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #6A6E78;
}
.footer__desc {
    width: 371px;
    margin-top: 24px;
}
.footer__form {
    position: relative;
    margin-top: 48px;
}
.footer__form-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #0A142F;
}
.footer__form-inner {
    position: relative;
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.footer__input {
    padding: 0 15px;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8E919A;
    outline: none;
}
.footer__input:focus {
    border-color: var(--primary-color);
}
.footer__input:focus + .footer__label ,
.footer__input:not(:placeholder-shown) + .footer__label{
    transform: translateY(-25px);
    color: var(--primary-color);
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;

}
.footer__label {
    position: absolute;
    left: 17px;
    background-color: #fff;
    padding: 0 8px;
    pointer-events: none;
    transition: transform .5s ease , color .5s ease;
    opacity: 0.8;
}

.copyright {
    padding: 28px 0;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright__text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}
























































@keyframes runTop {
0% {
    translate: 0;
}
25% {
    translate: 0 -100px;
}
}
@keyframes runLeft {
    0% {
        translate: 0;
    }
    25% {
        translate: -100px 0;
    }
}
@keyframes spinner {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}